* { margin: 0; padding: 0; }
body { font: 14px/1.4 Georgia, Serif; background: url(images/bg.jpg); color: white; }

#page-wrap { margin: 0 auto; height:90vh ; width: 70vw; position: relative; padding:10px;}


#header h1 a { display: block; width: 173px; height: 79px; background: url(images/logo.jpg) no-repeat; text-indent: -9999px; }

h1,h2,h3 { margin: 0 0 20px 0; font-weight: normal; }
h1 { font-size: 36px; }
h2 { font-size: 30px }
h3 { font-size: 24px; }
a:focus { outline: 0; }
#lt{text-align:center; }
.message { margin: 15px 0; padding: 10px; -moz-border-radius: 20px; -webkit-border-radius: 20px; font-size: 15px; }
.warning { background: #ffd5d5; border: 3px solid #ff3939; color: #ff3939; }
.success { background: #e5ffdb; border: 3px solid #0dba32; color: #0dba32; }

label { font-size: 20px; } 

#section { background: rgba(0,0,0,0.2); padding: 20px; overflow:auto;height:100% ; width:100%;}
#sectionP { background: rgba(0,0,0,0.2); padding: 20px; overflow:auto;}
#userid { font-size: 20px; padding:8px 10px; width: 330px; }

#you { position: absolute; top: 45px; right: 0; font-size: 20px; background: rgba(0,0,0,0.2); padding: 5px 10px; }
#you span { font: italic 12px Georgia, Serif; }

#rooms {  }
#rooms ul { list-style: none; }
#rooms ul .text { margin: 0 0 5px 0; }
#rooms  .text > a { background: rgba(0,0,0,0.5); padding: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; display: block; position: relative; }
#rooms .text > a:hover { background: rgba(0,0,0,0.8); -moz-box-shadow: 0 0 5px black; -webkit-box-shadow: 0 0 5px black; }
#rooms  .text >a span { position: absolute; top: 10px; right: 10px; }
#rooms  .text >a span  strong { color: white; font-size: 15px; white-space: nowrap;width: 150px;overflow: hidden;text-overflow: ellipsis; }

/*#rooms li a span strong img{}*/
#rooms ul .img { margin: 0 0 5px 0; }
#rooms  .img > a { background: rgba(0,0,0,0.5); padding: 50px; display: block; position: relative; }
#rooms .img > a:hover { background: rgba(0,0,0,0.8); -moz-box-shadow: 0 0 5px black; -webkit-box-shadow: 0 0 5px black; }
#rooms  .img >a span{ position;absolute; top: 3px; right: 10px; }
#rooms  .img >a span img{ top: 8px;
right: 10px;
height: 18%;
width: 16%;
text-align: center;
margin: -82px 10px 10px;
float: right;
padding: 10px;}

#rooms ul .p { margin: 0 0 5px 0; }
#rooms  .p > a { background: rgba(0,0,0,0.5); padding: 50px; -moz-border-radius: 10px; -webkit-border-radius: 10px; display: block; position: relative; }
#rooms .p > a:hover { background: rgba(0,0,0,0.8); -moz-box-shadow: 0 0 5px black; -webkit-box-shadow: 0 0 5px black; }
#rooms  .p >a span{ max-width:50px;position;absolute; top: 3px; right: 10px;  }
#rooms  .p >a span img{  top: 3px; right: 10px; height:50%;width:50%;text-align:center;margin:10px;float:right; padding: 10px;margin-top:-35%;}
#rooms  .p >a span button{float:right;margin:0px; text-align:center}
#rooms  .p >a span button p{font-size:10vw;}
#rooms  .p > a span  strong { color: white; font-size: 15px; white-space: nowrap;width: 150px;overflow: hidden;text-overflow: ellipsis; }
/*kk na pop up styling*/
.list
{
	width: 590px;
	height: 100%;
	
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	left:19px;

}






